.congrats-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    /* background-color: #f5f5f5; */
    padding: 20px;
}

.congrats-box {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 40px;
    max-width: 500px;
    width: 100%;
    text-align: center;
}

.verified-icon {
    color: #4CAF50;
    font-size: 60px;
    margin-bottom: 20px;
}

.congrats-title {
    position: relative;
    top:-10px;
    left:12px;
    color: green;
}

.congrats-message {
    color: #666;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 25px;
}

.continue-button {
    position: relative;
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 12px 24px;
    border-radius: 5px;
    width: 240px;
    height: 40px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    top: 20px;
    left: 10px
}

.continue-button:hover {
    background-color: #45a049;
}