/* Stepper.css */

.stepper {
  position: relative;
  width: 100%;
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  /* background-color: white; */
  right:396px;
  top:-9px;
}

.steps {
  display: flex;
  left:35px;
}

.step {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 10px;
}

.step.active .step-number {
  background-color:lightblue; /* Change the color for the active step */
  color: blue;
}

.step.completed .step-number {
  background-color: #28a745; /* Change the color for completed steps */
  color: black;
}

.step .step-number {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #ccc; /* Default background color */
  color:black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.step .step-label {
  margin-top: 5px;
  font-size: 14px;
  text-align: center;
  color: white;
  font-weight: bold;
}

/* Add horizontal line between steps */
.step:not(:last-child) {
  position: relative;
}

.step:not(:last-child)::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 100%;
  width: 50px; /* Adjust the length of the line */
  height: 2px; /* Adjust the thickness of the line */
  background-color: white; /* Adjust the color of the line */
}
