@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600;700;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin:0;
    font-family: 'poppins',sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    min-width:849px;
    /* min-width: 100vh; */
    background-color: rgba(127, 255, 212, 0.523);
    background: url('./components/back8.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    /* min:height 50px; */
}
